body,
h2,
a,
img {
  padding: 0px;
  margin: 0px;
}

.header {
  background: #252525;
  padding: 20px;
  margin-bottom: 20px;
}

.header img {
  display: block;
  margin: 0 auto;
}

.container-l1 {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    padding: 10px;
    border-bottom: 3px solid #252525;

}

.container-l1 img {
    max-width: 360px;
    
    ;
}

.info-l1 {

    width: 700px;
}

.info-l1 h2 {
    text-align: center;
    padding: 10px;
}

.info-l1 div {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.info-l1 div img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px;
    background: #252525;
    text-align: center;
    overflow: hidden;;
    text-decoration: none;
    color: #d6d3c8;
    cursor: pointer;
       
}




.container-l2 {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    padding: 20px;
    border-bottom: 3px solid #252525;

}



.container-l2 img {
    max-width: 360px;
    
    ;
}

.info-l2 {

    width: 700px;
}

.info-l2 h2 {
    text-align: center;
    padding: 10px;
}

.info-l2 div {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.info-l2 div img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px;
    background: #252525;
    text-align: center;
    overflow: hidden;;
    text-decoration: none;
    color: #d6d3c8;
    cursor: pointer;
    
}


.container-l3 {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    padding: 10px;
    

}

.container-l3 img {
    max-width: 360px;
    
    ;
}

.info-l3 {

    width: 700px;
}

.info-l3 h2 {
    text-align: center;
    padding: 10px;
}

.info-l3 div {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.info-l3 div img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px;
    background: #252525;
    text-align: center;
    overflow: hidden;;
    text-decoration: none;
    color: #d6d3c8;
    cursor: pointer;
}    

.footer {
    background: #252525;
    padding: 20px;
    margin-bottom: 20px;
    margin-bottom: 0;
    color: #d6d3c8;
    text-align: center;
}

}
